<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="current_user">
        <h3 id="current_username"></h3>
    </div>
    <div id="chatting_box"></div>
    <form id="chat_form">
        <input placeholder="Chat..." />
        <button type="submit">Chat</button>
    </form>
    <script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>

    <script src='https://cdn.socket.io/3.1.3/socket.io.min.js'
        integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh'
        crossorigin='anonymous'></script>

    <footer>{{data.copyright}}</footer>
    <script src="js/scripts.js"></script>
</body>

</html>